.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.errorContent {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.errorTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.errorMessage {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  line-height: 1.5;
}

.errorButton {
  font-size: 16px;
  color: #fff;
  background: rgb(146, 204, 220);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}
